/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,
center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    font-family: "微軟正黑體";
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block;
    box-sizing: border-box;
}
body {
    line-height: 1;
}
main {
    display: block;
}
ol,ul {
    list-style: none;
}
blockquote,q {
    quotes: none;
}
blockquote:before,blockquote:after,q:before,q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
button {
    font-family: "微軟正黑體";
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0px;
}
select,input {
    font-family: "微軟正黑體";
    outline: none;
    appearance: none;
    box-sizing: border-box;
}
a {
    display: block;
    text-decoration: none;
}

//內容

html {
    width: 100%;
    height: 100%;
    background: #93070a;

    body{
        width: 100%;
        min-width: 1200px;
        height: 100%;
        overflow: hidden;

        main {
            width: 100%;
            height: 100%;

            article {
                width: 1100px;
                height: 100%;
                display: flex;
                margin: 0px auto;

                section {
                    width: 50%;
                    height: 100%;
                    position: relative;

                    &.right {

                        .logo {
                            width: 540px;
                            height: 122px;
                            background: url('../images/logo.png') no-repeat;
                            background-size: 100%;
                            position: absolute;
                            left: 2px;
                            top: 114px;
                            z-index: 10;
                        }

                        .inputbox {
                            width: auto;
                            height: auto;
                            position: absolute;
                            top: 268px;
                            left: 20px;
                            z-index: 10;

                            .box {
                                width: auto;
                                height: auto;
                                display: flex;

                                label {
                                    display: block;
                                    width: auto;
                                    height: auto;
                                    position: relative;
                                    margin-right: 12px;

                                    &:last-child {
                                        margin: 0;
                                    }

                                    p {
                                        color: #ffffff;
                                        font-size: 20px;
                                        text-shadow: 1px 2px 3px #000000d7;
                                        margin-bottom: 10px;
                                    }

                                    input {
                                        width: 250px;
                                        height: 40px;
                                        background: #ffffff;
                                        border-radius: 5px;
                                        border: none;
                                        color: #000000;
                                        font-size: 20px;
                                        padding-left: 10px;
                                    }
                                }
                            }

                            button {
                                width: 205px;
                                height: 55px;
                                background: linear-gradient(to top,#f2c640 5%,#ffdc72 19%,#ffdc72 37%,#cb8e3e 49%,#ffe79e 59%,#ffdc72 91%,#fff0aa 100%);
                                border-radius: 5px;
                                border: solid 1px #fffdb9;
                                box-shadow: 0 5px 10px 0 #00000080;
                                color: #100700;
                                font-size: 25px;
                                font-weight: bold;
                                letter-spacing: 3px;
                                margin-top: 20px;

                                &:hover,&:active,&.active {
                                    background: linear-gradient(to top,#1061f6 0%,#0c1fc9 100%);
                                    color: #fffdb9;
                                }
                            }
                        }
                    }

                    &.left {

                        .img1 {
                            width: 798px;
                            height: 886px;
                            background: url('../images/img1.png') no-repeat;
                            background-size: 100%;
                            position: absolute;
                            left: -175px;
                            top: 24px;
                            animation: img1 0.4s linear 0s;
                            z-index: 2;

                            &::before {
                                content: "";
                                position: absolute;
                                left: 0;
                                top: 0;
                                width: 100%;
                                height: 100%;
                                background: url('../images/img1.png') no-repeat;
                                animation: lag 0.3s linear 0s,img2 0.6s linear 0.3s;
                                opacity: 0;
                            }
                        }
                    }
                }
            }
        }
        //背景
        .bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            min-width: 1200px;
            height: 100%;
            background: url('../images/bg.jpg') no-repeat top center;
            z-index: -999;
        }
    }
}
// @keyframes img1 {
//     0% {
//         transform: translate(-50%,-67%) scale(0.15) rotate(3600deg);
//     }

//     10% {
//         opacity: 1;
//         transform: translate(67%,70%) scale(0.15) rotate(0deg);
//     }

//     11% {
//         opacity: 0;
//         transform: translate(67%,70%) scale(0.15) rotate(0deg);
//     }

//     12% {
//         opacity: 0;
//         transform: translate(175%,0%) scale(-0.3,0.3) rotate(0deg);
//     }

//     20% {
//         opacity: 1;
//         transform: translate(175%,0%) scale(-0.3,0.3) rotate(3600deg);
//     }

//     30% {
//         opacity: 1;
//         transform: translate(-95%,0%) scale(-0.3,0.3) rotate(0deg);
//     }

//     31% {
//         opacity: 0;
//         transform: translate(-95%,0%) scale(-0.3,0.3) rotate(0deg);
//     }
    
//     32% {
//         opacity: 0;
//         transform: translate(-95%,75%) scale(0.5) rotate(0deg);
//     }

//     40% {
//         opacity: 1;
//         transform: translate(-95%,75%) scale(0.5) rotate(3600deg);
//     }

//     50% {
//         opacity: 1;
//         transform: translate(185%,-45%) scale(0.5) rotate(0deg);
//     }

//     51% {
//         opacity: 0;
//         transform: translate(185%,-45%) scale(0.5) rotate(0deg);
//     }

//     52% {
//         opacity: 0;
//         transform: translate(110%,-85%) scale(0.5) rotate(0deg);
//     }

//     60% {
//         opacity: 1;
//         transform: translate(110%,-85%) scale(0.6) rotate(4320deg);
//     }

//     70% {
//         transform: translate(80%,34%) scale(0.7) rotate(3240deg);
//     }

//     80% {
//         transform: translate(-60%,-30%) scale(0.8) rotate(2160deg);
//     }

//     90% {
//         transform: translate(-33%,15%) scale(0.9) rotate(1080deg);
//     }

//     100% {
//         transform: translate(0) scale(1) rotate(0deg);
//     }
// }
@keyframes img1 {
    0% {
        opacity: 0;
        transform: translate(-50%,-50%) scale(0) rotate(-720deg);
    }

    100% {
        opacity: 1;
        transform: translate(0%,0%) scale(1) rotate(0deg);
    }
}
@keyframes img2 {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
        transform: scale(1.3);
    }
    
    100% {
        opacity: 0;
        transform: scale(1.6);
    }
}
@keyframes lag {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}